<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Quiz</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in awesomeThings | limitTo: quantity">
        <li>
          <div class="quiz little-margin"></div>
          <a href="#" class="question" ng-click="showAnswer($index)">{{$index + 1}}. {{thing.name}}</a>
          <p class="answer" ng-show="openedIndex === $index">{{thing.info}}</p>
          <textarea class="form-control little-margin" rows="2"></textarea>
          <!--
          <button type="button" class="btn btn-danger btn-lg btn-block little-margin" ng-click="deleteThing(thing)">삭제하기</button>
          -->
        </li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
      <textarea class="form-control" rows="2" ng-model="question"></textarea>
      <textarea class="form-control" rows="2" ng-model="answer"></textarea>
      <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="addThing()">저장하기</button>
  </form>
</div>
